<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/select2.min.css">
    <style>
    	body { 
    		padding-top: 70px; 
    	}
    </style>
	<script src="/Scripts/jquery-1.9.1.min.js"></script>
	<script src="/Scripts/bootstrap.min.js"></script>
	<script src="/Scripts/select2.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<ul class="nav navbar-nav">
		<li id="home" class="active">@Html.ActionLink("Домашняя", "Index", "Home")</li>
		<li id="organization">@Html.ActionLink("Организации", "Index", "Organization")</li>
		<li id="person">@Html.ActionLink("Пользователи", "Index", "Person")</li>
	</ul>
  </div>
</nav>
<div class="container">
<script>
    $.fn.select2.defaults.set('templateSelection', function(a) {
        return a.text || a.name || a.value;
    });
    $.fn.select2.defaults.set('templateResult', function(a) {
        return a.text || a.name || a.value;
    });
</script>
	@RenderBody()
</div>
</body>
<script>
	setActionTab();
</script>
</html>

