@using web.Models;
@model House

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Создание дома</h3>

@using(Html.BeginForm()) 
{
<div class="row form-group">
	<label class="col-md-2">Номер дома:</label>
	<div class="col-md-4">
		@Html.EditorFor(model => model.number, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.number)
	</div>
</div>
<div class="row form-group">
	<label class="col-md-2">Кол-во этажей:</label>
	<div class="col-md-2">
		@Html.EditorFor(model => model.countFloor, new { htmlAttributes = new { @type="number", @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.countFloor)
	</div>
	<label class="col-md-2">Кол-во подъездов:</label>
	<div class="col-md-2">
		@Html.EditorFor(model => model.countPorch, new { htmlAttributes = new { @type="number", @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.countPorch)
	</div>
	<label class="col-md-2">Кол-во комнат на площадке:</label>
	<div class="col-md-2">
		@Html.EditorFor(model => model.countRoom, new { htmlAttributes = new { @type="number", @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.countRoom)
	</div>
</div>
<div class="row form-group">
	<label class="col-md-2">Область</label>
	<div class="col-md-2">
		<select id="region" class="form-control select2"></select>
		<input type="hidden" name="region" />
	</div>
	<label class="col-md-2">Город</label>
	<div class="col-md-2">
		<select id="city" class="form-control select2"></select>
		<input type="hidden" name="city" />
	</div>
	<label class="col-md-2">Улица</label>
	<div class="col-md-2">
		<select id="street" class="form-control select2"></select>
		<input type="hidden" name="street" />
	</div>
</div>
<div class="row form-group">
	<label class="col-md-2">Предоставляемые услуги</label>
	<div class="col-md-4">
		<select id="services" name="services" class="form-control select2" multiple="multiple"></select>
	</div>
	<label><input name="autoGeneration" type="checkbox" checked="checked" /> Автогенерация квартир</label>
</div>
<div class="row form-group">
	<div class="col-md-12 text-right">
		<div class="btn-group">
			<input type="button" class="btn btn-danger" value="Отменить" />
			<input type="submit" class="btn btn-success" value="Сохранить" />
		</div>
	</div>
</div>
}

<script>
$(".select2").select2({width: '100%', tags: true});

var regions = [],
	cities = [],
	streets = [];

var _find = function(mass, callback) {
	result = null;
	mass.forEach(function(item) {
		if( callback(item) ) {
			result = item
		}
	})
	return result;
}

$.ajax({
	url: '/Region/Select',
	type: 'GET'
}).done(function(res){
	regions = res;
	$('#region').select2({data: res, tags: true}).trigger("change");
});

$('#region').change(function() {
	var val = $(this).val(),
		el = this;
	if(!val) return;
	if( _find(regions, function(item) { return item.id == val } ) ) {
		$('[name="region"]').val( $('#select2-region-container').text() );
		$.ajax({ url: '/City/Select', type: 'GET', data: {parent: val} })
		.done(function(res){
			cities = res;
			$('#city').empty().select2({data: res, tags: true}).trigger("change");
		});
	} else {
		$.ajax({ url: '/Region/Create', type: 'POST', data: { name: val, city: '' } })
			.done(function(res) {
				regions.push(res);
				$('#region').empty().select2({data: regions, tags: true})
					.val(res.id).trigger("change");
				setTimeout(function() {
					$('[name="region"]').val( $('#select2-region-container').text() );
				}, 400);
			});
	}
})

$('#city').change(function() {
	var val = $(this).val(),
		parent = $('#region').val(),
		el = this;
	if(!val) {
		streets = [];
		$('#street').empty().trigger('change');
		return;
	}
	if( _find(cities, function(item) { return item.id == val } ) ) {
		console.log($('#select2-region-container').text())
		$('[name="city"]').val( $('#select2-city-container').text() );
		$.ajax({ url: '/Street/Select', type: 'GET', data: {parent: val} })
			.done(function(res){
				streets = res;
				$('#street').empty().select2({data: res, tags: true}).trigger("change");
			});
	} else {
		$.ajax({ url: '/City/Create', type: 'POST', data: { parent: parent, name: val, street: '' } })
			.done(function(res) {
				cities.push(res);
				$('#city').empty().select2({data: cities, tags: true})
					.val(res.id).trigger("change");
				setTimeout(function() {
					$('[name="city"]').val( $('#select2-city-container').text() );
				}, 400);
			});
	}
});

$('#street').change(function() {
	var val = $(this).val(),
		parent = $('#city').val(),
		el = this;
	if(!val) return;
	if( !_find(streets, function(item) { return item.id == val } ) ) {
		$.ajax({ url: '/Street/Create', type: 'POST', data: { parent: parent, name: val, house: '' } })
			.done(function(res) {
				streets.push(res);
				$('#street').empty().select2({data: streets, tags: true})
					.val(res.id).trigger("change");
				setTimeout(function() {
					$('[name="street"]').val( $('#select2-street-container').text() );
				}, 400);
			});
	} else
		$('[name="street"]').val( $('#select2-street-container').text() );
})

$.ajax({
	url: '/Service/Select',
	type: 'GET'
}).done(function(res) {
	$('#services').select2({data: res});
} )
</script>