@using web.Models;
﻿@model Organization

@{
    ViewBag.Title = "Организации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Организация "@Model.fullName"
<small><a href="/Organization/Edit/@Model.id">Редактировать</a></small>
<a href="/Organization/Delete.@Model.id" class="btn btn-danger pull-right">Удалить</a>
</h2>
<div class="row">
	<label class="col-md-2">
		Новые оповещение:
	</label>
	<label class="col-md-6" id="new ">
		@if( @Model.requests != null && @Model.requests != "" ) {
			<a href="/Request">@Model.requests.Split(',').Length заявка</a>
		} else {<span>Нет заявок</span>}
	</label>
	<div class="col-md-4 text-right">
		<button id="generation" class="btn btn-warning">Сгенерировать</button>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h3>Реквизиты:</h3>
		<div class="row">
			<div class="col-md-4"><label>ОГРН:</label></div>
			<div class="col-md-6">@Model.OGRN</div>
		</div>
		<div class="row">
			<label class="col-md-4">ИНН:</label>
			<div class="col-md-6">@Model.INN</div>
		</div>
		<div class="row">
			<label class="col-md-4">KPP: </label>
			<div class="col-md-6">@Model.KPP</div>
		</div>
		<div class="row">
			<label class="col-md-4">OKTMO: </label>
			<div class="col-md-6">@Model.OKTMO</div>
		</div>
		<div class="row">
			<div class="col-md-4"><label>Телефон:</label></div>
			<div class="col-md-6">@Model.phone</div>
		</div>
		<div class="row">
			<div class="col-md-4"><label>E-mail:</label></div>
			<div class="col-md-6">@Model.email</div>
		</div>
	</div>
	<div class="col-md-5">
		<h3>Дома организации:
			<a href="/House/Create" class="btn btn-xs btn-success">Создать</a>
		</h3>
		<table class="table">
			<thead>
				<tr>
					<td>адрес дома</td>
					<td>Кол-во этажей</td>
				</tr>
			</thead>
			<tbody id="houses"></tbody>
		</table>
	</div>
	<div class="col-md-4">
		<h3>Предоставляемые услуги:
			<a href="/Service/Create" class="btn btn-xs btn-success">Создать</a>
		</h3>
		<table class="table">
			<thead>
				<tr>
					<td>Наименование</td>
					<td>Цена</td>
				</tr>
			</thead>
			<tbody id="services"></tbody>
		</table>
	</div>
</div>
<script>

	$.ajax({
		url: "/Service",
		type: "GET"
	}).done(function(res) {
		res.forEach(function(item){
			var tr = '<tr><td><a href="Service/Details/' + item.id + '">' + item.name + '</a></td>' + 
				'<td>' + item.price + '</td></tr>';
			$('#services').append(tr);
		});
		if(!res[0]) $('#services').append('<tr><td colspan="2">Нет услуг</td></tr>');
	})

	$("#generation").click(function(){
		$.ajax({
			url : '/Organization/Generation',
			type: 'POST'
		}).done(function(res) {
			alert("Оповещения для собственников успешно сгенерированны: ");
		}).error(function(err){
			alert("Ошибка: ", err);
		})
	})

	$.ajax({
		url: "/House/Select",
		type: "GET"
	}).done(function(res) {
		res.forEach(function(item){
			var tr = '<tr><td><a href="House/Details/' + item.id + '">' + 
				item.region + ', ' + 
				item.city + ', ' +
				item.street + ', ' +
				item.number + '</a></td>' + 
				'<td>' + item.countFloor + '</td></tr>';
			$('#houses').append(tr);
		});
		if(!res[0]) $('#houses').append('<tr><td colspan="2">Нет домов</td></tr>');
	})

	function setActionTab() {
		$('nav li').removeClass('active');
		$('#organization').addClass("active");
	}
</script>
