@model web.Models.Owner

@{
    ViewBag.Title = "Описание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Описание Собственника</h2>

<fieldset>





    <div class="row">
        <label class="col-md-2">Имя: </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.name)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2">Фамилия: </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.lastName)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2">Отчество: </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.patronimic)
        </div>
    </div>


    <div class="row">
        <label class="col-md-2">Телефон: </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.phone)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2">e-mail: </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.email)
        </div>
        </div>



</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
     <a href="/Room/Details/@Model.room">Вернуться</a>
</p>
